body{
/* fallback */
  background-color: #FFFFFF;
  background-image: url(images/images/IMG_0191.jpg);
  background-repeat: repeat-y;
}

.wrapper{
  float:right;
  display:inline;
  
}


figure{
  width:525px;
  height:700px;
  overflow:hidden;
  background-image: url('/images/IMG_0191.jpg');
  transition: all; float;
  background-repeat: repeat-n;
  margin-right: 50px;
  margin-top: 0px;
}
  

figure:hover{
  overflow:hidden;
  -webkit-animation: switch 2.5s infinite; /* Chrome, Safari, Opera */ 
    animation: switch 2.5s infinite;
   background-repeat: repeat-n;
}

@-webkit-keyframes switch {
    0% {background-image: url('/images/IMG_0207.jpg');}
    20% {background-image: url('/images/IMG_0211.jpg');}
    40% {background-image: url('/images/IMG_0208.jpg');}
    60% {background-image: url('/images/IMG_0210.jpg');}
    80% {background-image: url('/images/IMG_0206.jpg');}
    100% {background-image: url('/images/IMG_0209.jpg');}
  
}