body{
/* fallback */
  background-color: #FFFFFF;
  background-image: url('images/linear_bg_1.png');
  background-repeat: repeat-y;
}

.wrapper{
  float:right;
  display:inline;
  
}


figure{
  width:525px;
  height:700px;
  overflow:hidden;
  background-image: url('https://i.imgur.com/tCI6lir.jpg');
  transition: all; float;
  background-repeat: repeat-n;
  margin-right: 250px;
  margin-top: 30px;
}
  

figure:hover{
  overflow:hidden;
  -webkit-animation: switch 1s infinite; /* Chrome, Safari, Opera */ 
    animation: switch 1s infinite;
   background-repeat: repeat-n;
}

@-webkit-keyframes switch {
    0% {background-image: url('https://i.imgur.com/4BkPFx1.jpg');}
    20% {background-image: url('https://i.imgur.com/F8ZD5GV.jpg');}
    40% {background-image: url('https://i.imgur.com/UAH2U7z.jpg');}
    60% {background-image: url('https://i.imgur.com/rwkCl6x.jpg');}
    80% {background-image: url('https://i.imgur.com/RDo5HWk.jpg');}
    100% {background-image: url('https://i.imgur.com/CC74NJn.jpg');}
  
}